<div class="navbar navbar-default" ng-controller="NavbarCtrl">

    <div class="navbar-header">
        <a class="navbar-brand" ng-href="/" name="top">NodeStoreJS.com</a>
    </div>
    <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
            <li ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{acrtive: $uiRoute}">
                <a href="/{{item.link}}">{{item.title}}</a>
            </li>
            <li ng-repeat="item in authMenu" ng-show="user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
    </div>

    <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav">
            <li access-level="accessLevels.user" active-nav><a ui-sref="orders.list">My Order</a>
            </li>
            <li active-nav><a ui-sref="forums.list">Forums</a>
            </li>
            <li access-level="accessLevels.anon" active-nav><a ui-sref="anon.login">Login</a>
            </li>
            <li access-level="accessLevels.anon" active-nav><a ui-sref="anon.signup">Signup</a>
            </li>
        </ul>
        <ul class="nav navbar-nav" access-level="accessLevels.user">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.email }} <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li active-nav><a role="menuitem" ui-sref="user.password"><span class="glyphicon glyphicon-ok form-control-feedback"></span> Change Password</a></li>
                    <li access-level="accessLevels.admin" active-nav><a role="menuitem" ui-sref="admin.users.list"><span class="glyphicon glyphicon-user form-control-feedback"></span> Users</a> </li>
                    <li access-level="accessLevels.admin" active-nav><a role="menuitem" ui-sref="admin.forums.list"><span class="glyphicon glyphicon-pencil"></span> Forums</a> </li>
                    <li role="presentation"><a role="menuitem" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>
<!--/.navbar -->
