<div class="container">

    <div class="row">
        <h1 class="text-center login-title">Change Password</h1>
        <div class="col-sm-6 col-md-4 col-md-offset-4 signup-well">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                <div class="form-group">
                    <input class="form-control" placeholder="Your Email" type="email" name="email" ng-model="user.email" ng-disabled="true" />
                </div>

                <div class="form-group" ng-class="{'has-warning': form.password.$dirty,
                                'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.server,
                                'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.server
                                }">
                    <input class="form-control" placeholder="Password" type="password" name="password" ng-model="user.password" ng-minlength="5" required server-error/>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$invalid)
                                && form.password.$dirty
                                && !form.password.$error.required">
                        Password must be at least 5 characters.
                    </p>
                    <p class="help-block" ng-show="form.password.$error.server">
                        {{ errors.password }}
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-warning': form.password.$dirty,
                                'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.server,
                                'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.server
                                }">
                    <input class="form-control" placeholder="New Password" type="password" name="new_password" ng-model="user.new_password" ng-minlength="5" required server-error/>
                    <p class="help-block" ng-show="(form.new_password.$error.minlength || form.new_password.$invalid)
                                && form.new_password.$dirty
                                && !form.new_password.$error.required">
                        Password must be at least 5 characters.
                    </p>
                    <p class="help-block" ng-show="form.new_password.$error.server">
                        {{ errors.new_password }}
                    </p>
                </div>

                <div class="form-group" ng-class="{'has-warning': form.retype_password.$dirty,
                                'has-success': form.retype_password.$valid && form.retype_password.$dirty && !form.retype_password.$error.server,
                                'has-error': form.retype_password.$invalid && form.retype_password.$dirty || form.retype_password.$error.server
                                }">
                    <input class="form-control" placeholder="Retype New Password" type="password" name="retype_password" ng-model="user.retype_password" ng-minlength="5" required password-match="user.new_password" server-error/>
                    <p class="help-block" ng-show="(form.retype_password.$error.minlength || form.retype_password.$invalid)
                                && form.retype_password.$dirty
                                && !form.retype_password.$error.required">
                        Password must be at least 5 characters.
                    </p>
                    <p class="help-block" ng-show="form.retype_password.$error.passwordMatch">
                        Passwords don't match.
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-success': true}">
                		
                    <p class="help-block" show="form.password.$success.server">
                       	{{success.password}}
                    	</p>
                        
                  </div>
                <br />
                <button class="btn btn-lg btn-primary btn-block " type="submit " ng-disabled="form.$invalid ">Change password</button>
            </form>
            
        </div>
    </div>
</div>