<div class="well well-sm" ng-controller="UploadCtrl" ng-init="init('Post')">
    <div id="uploadedFiles">

    </div>
    <form name="myform" class="form-inline" role="form" ng-submit="start(0)">
        <input type="hidden" ng-model="asset.viewable_type" value="Post">
        <div class="row">
            <div class="col-xs-2 col-md-2">
            </div>
            <div class="form-group col-xs-3 col-md-3 ">
                <div class="row">
                    <div class="form-group">
                        <input class="form-control" type="file"  ng-file-select="onFileSelect($files)" accept="image/*"  onclick="this.value=null">
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-3 col-md-3">
                <input class="form-control" width="40" ng-model="asset.alt" placeholder="Alternative Text">
            </div>
        </div>
        <div class="row text-center">
            <div class="form-group has-error" ng-show="error">
                <p class="help-block">{{ error }}</p>
            </div>
            <div class="form-group has-success" ng-show="message">
                <p class="help-block">{{ message }}</p>
            </div>
            <div class="form-group">
                <button type="submit" ng-disabled="myform.$invalid" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Upload &nbsp;&nbsp; </button>
            </div>
        </div>
    </form>
</div>