    <div class="pull-left">
        <a ui-sref="products.list"> Home </a>
    </div>
    <div class="pull-right col-md-pull-1">
        <a href="/#/carts"><span class="glyphicon glyphicon-shopping-cart"></span> Cart </a>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Nested Menu</strong>
                </div>
                <a ui-sref="" active-nav class="list-group-item">Menu Item</a>
                <a ui-sref="" active-nav class="list-group-item">Menu Item</a>
            </div>
        </div>
        <div class="col-md-8">
            <div ui-view></div>
        </div>
    </div>
