<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-9">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Nested Menu</strong>
                </div>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.user.edit" active-nav class="list-group-item">List of Users</a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 col-md-pull-3" ui-view></div>
    </div>
</div>