<div class="container">
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <h2>Forums List
            </h2>
        </div>
        <div class="col-xs-4 col-md-4 text-center">
        </div>
    </div>
    <div class="panel-body" >
        <form name="form" class="" role="form" ng-submit="searchForums(form)">
            <div class="row">
               <div class="form-group col-xs-2 col-md-2">
                    <label>Name:</label><br/>
                    <input class="form-control" ng-model="conditions.name" placeholder="Name">
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label>Description:</label><br/>
                    <input class="form-control" ng-model="conditions.description" placeholder="Description">
                </div>
                <div class="col-xs-2 col-md-2">
                    <br>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search form-control-feedback"></span> Search</button>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-10">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Forum</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data.forums">
                        <td class="col-md-1">{{item.id}}</td>
                        <td class="col-md-8"><a ui-sref="forums.topics.list({forum_id: item.id})" >{{"&nbsp;&nbsp;&nbsp;".repeat(item.level)}}{{item.name}}</a> <br/>
                          <small>{{item.description}}</small></td>
                        <td class="col-md-5"><small><span class="badge">Topics: {{item.topic_count}}</span> <span class="badge">Posts: {{item.post_count}}</span><br/>
                            <span class="btn btn-default btn-xs">Updated at: {{item.updated_at}}</span></small></td>
                     </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-2 col-md-2">Page:{{page}}/{{numPages}} ({{totalItems}})</div>
                    <div class="col-xs-8  col-md-8">
                        <pagination total-items="totalItems" ng-model="page" max-size="3" items-per-page="10"
                                    num-pages="numPages" ng-change="pageChanged()"></pagination>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a ui-sref="forums.list" ui-sref-opts="{reload: true}" class="btn btn-primary" >
                            <span class="glyphicon glyphicon-refresh"></span> Refresh</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
