
<nav class="navbar header">
 	<div class="col-md-12">
        <div class="navbar-header">

          <a href="#" class="navbar-brand">News</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <form class="navbar-form pull-left" ng-submit="searchArticles(form)">
              <div class="input-group" style="max-width:470px;">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="conditions.name">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
             <li>
               <a ng-disabled="currentUser.role.title != 'admin'" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Admin Role Required!"
                  class="btn btn-default btn-xs" ui-sref="news.new"><i class="fa fa-edit"></i> New Aritle </a>
             </li>
           </ul>
        </div>
     </div>
</nav>

<!--main-->
<div class="container" id="main">

  <div class="row">
      <div ng-repeat="article in data.articles">
        <div class="col-sm-4 col-xs-6">
              <div class="panel panel-default">
                <div class="panel-thumbnail"><a ng-show="article.img_url" ui-sref="news.view({id: article.id})"><img width="100%" ng-src="{{article.img_url}}" class="img-responsive"></a></div>
                <div class="panel-body">
                  <p class="lead"><a ui-sref="news.view({id: article.id})">{{article.name}}</a></p>
                  <p>{{article.created_at}}</p>
                  <p>{{article.summary}}</p>

                  <p>
                    <a ng-show="currentUser && currentUser.role.title =='admin'" ng-confirm-click="Are you sure?" ng-click="delete(article)"
                       class="btn btn-default btn-xs" data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Admin is allowed!">
                      <span class="glyphicon glyphicon-remove"></span> Delete </a>
                  </p>
                </div>
              </div>

        </div><!-- /col -->
      </div><!--/ng-repeat -->

  </div><!--/row-->

  <hr/>
  <div class="row">
    <div class="col-xs-2 col-md-2">Page:{{page}}/{{numPages}} ({{totalItems}})</div>
    <div class="col-xs-8  col-md-7">
      <pagination total-items="totalItems" ng-model="page" max-size="3" items-per-page="12"
                  num-pages="numPages" ng-change="pageChanged()"></pagination>
    </div>
    <div class="col-xs-1 col-md-1">
      <a ui-sref="news.list" ui-sref-opts="{reload: true}" class="btn btn-default btn-xs" >
        <span class="glyphicon glyphicon-refresh"></span> Refresh</a>
    </div>
  </div>

</div><!--/main-->

<script type="application/javascript">
  $(function(){
    $('[data-toggle="popover"]').popover();
  })
</script>
