<div class="container">

    <ul class="nav nav-tabs" role="tablist">
        <li class="navbar-brand"> Checkout: </li>
        <li ng-class="{active: $state.includes('orders.address')}"><a><span class="glyphicon glyphicon-align-left"></span> Address <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        <li ng-class="{active: $state.includes('orders.delivery')}"><a><span class="glyphicon glyphicon-plane"></span> Delivery <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        <li ng-class="{active: $state.includes('orders.payment')}"><a><span class="glyphicon glyphicon-usd"></span> Payment <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        <li ng-class="{active: $state.includes('orders.view')}"><a><span class="glyphicon glyphicon-ok"></span> Complete </a></li>
    </ul>
    <div class="row">
        <div class="col-md-12" ui-view></div>
    </div>
</div>
