<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Nested Menu</strong>
                </div>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
            </div>
        </div>
        <div class="col-md-7 col-md-pull-2" ui-view></div>
    </div>
</div>