<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Menu</strong>
                </div>

                <a ng-class="{active: $state.includes('admin.products.edit')}" ui-sref="admin.products.edit({id: $stateParams.id})" class="list-group-item"> Product Details</a>
                <a ng-class="{active: $state.includes('admin.products.assets')}" ui-sref="admin.products.assets.list({product_id: $stateParams.id})" class="list-group-item"> Images </a>
                <a ng-class="{active: $state.includes('admin.products.variants')}" ui-sref="admin.products.variants.list({product_id: $stateParams.id})" class="list-group-item"> Variants</a>
            </div>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <div class="panel-body">
                <div class="row info">
                    <div class="form-group col-xs-7 col-md-7">
                       <h2><label>Editing Product:</label>
                        {{currentProduct.name}}</h2>
                    </div>
                    <div class="form-group col-xs-5 col-md-5">
                        <button class="btn btn-primary" ui-sref="admin.products.list"><span class="glyphicon glyphicon-arrow-left"></span> Back To Products List</button>
                        <button class="btn btn-primary" ui-sref="admin.products.new"><span class="glyphicon glyphicon-plus"></span> New Product</button>
                    </div>
                </div>

                <form class="form" name="myform" ng-submit="createProduct(myform)"  novalidate>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-xs-8 col-md-8">
                                <label>Name*:</label>
                                <input class="form-control" type="text" ng-model="currentProduct.name" required autofocus on-focus />
                            </div>
                            <div class="form-group col-xs-4 col-md-4" ng-class="{'has-error': myform.price.$invalid}" >
                                <label>Master Price*:</label>
                                <input class="form-control" type="number" min="0" name="price" ng-model="currentProduct.variant.price" required/>
                                <p class="error" ng-show="myform.price.$error.number">Not valid number!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-xs-8 col-md-8">
                                <label>Slug*:</label> Unique Key?
                                <input class="form-control" type="text" ng-model="currentProduct.slug" required />
                            </div>
                            <div class="form-group col-xs-2 col-md-2" ng-class="{'has-error': myform.cost_price.$invalid}">
                                <label>Cost Price:</label>
                                <input class="form-control" type="number" min="0" name="cost_price" ng-model="currentProduct.variant.cost_price"/>
                                <p class="error" ng-show="myform.cost_price.$error.number">Not valid number!</p>
                            </div>
                            <div class="form-group col-xs-2 col-md-2">
                                <label>Cost Currency:</label>
                                <input class="form-control" type="text" ng-model="currentProduct.variant.cost_currency" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="form-group col-xs-8 col-md-8">
                                <label>Description:</label>
                                <textarea class="form-control" rows="20" ng-model="currentProduct.description"/>
                            </div>
                            <div class="form-group col-xs-4 col-md-4">
                                <div class="row">
                                    <div class="form-group" ng-class="{'has-error': myform.available_on.$invalid}">
                                        <label>Available On:</label>
                                        <input class="form-control" placeholder="yyyy-mm-dd" type="text"  name="available_on" ng-model="currentProduct.available_on" jqdatepicker/>
                                        <p class="error" ng-show="myform.available_on.$error.date">Not valid date!</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label>SKU:</label>
                                        <input class="form-control" type="text" ng-model="currentProduct.variant.sku"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6 col-md-6" ng-class="{'has-error': myform.weight.$invalid}">
                                        <label>Weight:</label>
                                        <input class="form-control" type="number" min="0" name="weight" ng-model="currentProduct.variant.weight"/>
                                        <p class="error" ng-show="myform.weight.$error.number">Not valid number!</p>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-6" ng-class="{'has-error': myform.height.$invalid}">
                                        <label>Height:</label>
                                        <input class="form-control" type="number" min="0" name="height" ng-model="currentProduct.variant.height"/>
                                        <p class="error" ng-show="myform.height.$error.number">Not valid number!</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6 col-md-6" ng-class="{'has-error': myform.weight.$invalid}">
                                        <label>Width:</label>
                                        <input class="form-control" type="number" min="0" name="width" ng-model="currentProduct.variant.width"/>
                                        <p class="error" ng-show="myform.width.$error.number">Not valid number!</p>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-6" ng-class="{'has-error': myform.depth.$invalid}">
                                        <label>Depth:</label>
                                        <input class="form-control" type="number" min="0" name="depth" ng-model="currentProduct.variant.depth"/>
                                        <p class="error" ng-show="myform.depth.$error.number">Not valid number!</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label>Shipping Categories:</label>
                                        <select class="form-control"  ng-model="currentUser.shipping_categories"
                                                ng-options="role.id as role.title for role in roles" >
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label>Option Types:</label>{{currentProduct.option_type_ids}}
                        <select style="width:100%" ui-select2 multiple ng-model="currentProduct.option_type_ids" placeholder="Pick a option type" >
                            <option ng-repeat="option_type in option_types" value="{{option_type.id}}" ng-selected="{{currentProduct.option_type_ids.indexOf((option_type.id).toString()) > -1}}">{{option_type.presentation}}({{option_type.name}})</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Taxons:</label>
                        {{currentProduct.taxon_ids}}
                        <select style="width:100%" ui-select2 multiple ng-model="currentProduct.taxon_ids" placeholder="Pick a taxon">
                            <option ng-repeat="taxon in taxons" value="{{taxon.id}}" ng-selected="{{currentProduct.taxon_ids.indexOf((taxon.id).toString()) > -1}}"> {{taxon.permalink}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Meta Keywords:</label>
                        <input class="form-control" type="text" ng-model="currentProduct.meta_keywords" />
                    </div>
                    <div class="form-group">
                        <label>Meta Description:</label>
                        <input class="form-control" type="text" ng-model="currentProduct.meta_description" />
                    </div>
                    <div class="form-group text-center">
                        <div class="form-group has-error" ng-show="error">
                            {{error}}
                        </div>
                        <div class="form-group has-success" ng-show="message">
                            {{message}}
                        </div>
                        <button class="btn btn-primary" type="submit" ng-disabled="myform.$invalid">Save</button>
                        <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
