<h2>Shipping Methods</h2>

<div class="panel-body" >
    <form name="myform" class="form-inline" role="form" ng-submit="createShippingMethod(myform)">
        <div class="row">
            <div class="form-group col-xs-3 col-md-3">
                <label>Name*:</label><br/>
                <input class="form-control" ng-model="newShippingMethod.name" placeholder="Enter name" required>
            </div>
            <div class="form-group col-xs-3 col-md-3">
                <label>Amount*:</label><br/>
                <input class="form-control" ng-model="newShippingMethod.amount" placeholder="Enter amount" required>
            </div>
            <div class="form-group col-xs-3 col-md-3">
                <label>Currency*:</label><br/>
                <input class="form-control" ng-model="newShippingMethod.currency" placeholder="Enter currency" required>
            </div>

            <div class="form-group col-xs-2 col-md-2">
                <br>
                <button type="submit" ng-disabled="myform.$invalid" class="form-control btn btn-primary"><span class="glyphicon glyphicon-send"></span> Create</button>
            </div>
        </div>
        <div class="form-group has-error">
            <p class="help-block">{{ error }}</p>
        </div>

    </form>
    <br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Currency</th>
            <th></th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="data.shippingMethods">
        <tr ng-repeat="item in data.shippingMethods">
            <td style="width:300px" class="col-md-5"><span class="glyphicon glyphicon-list"></span> {{item.name}}</td>
            <td style="width:300px" class="col-md-3">{{item.amount}} </td>
            <td style="width:300px" class="col-md-2">{{item.currency}} </td>
            <td class="col-md-2 text-center">
                <a ui-sref="admin.products.shipping_methods.edit({id: item.id})" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                <a ng-confirm-click="Are you sure?" ng-click="deleteShippingMethod(item)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8  col-md-8">
        </div>
        <div class="col-xs-2 col-md-2">
            <a ui-sref="admin.products.shipping_methods.list" ui-sref-opts="{reload: true}" class="btn btn-primary" >
                <span class="glyphicon glyphicon-refresh"></span> Refresh</a>
        </div>
    </div>
</div>
