
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Nested Menu</strong>
                </div>
                <a ui-sref="forums.list" active-nav class="list-group-item">Forums List</a>
                <a ui-sref="forums.topics.list({forum_id: $stateParams.forum_id})" active-nav class="list-group-item">Topics List</a>
            </div>
        </div>
        <div class="col-md-10  col-md-pull-2">
          <div  ui-view/>
        </div>
    </div>
</div>
