<div class="container">
    <a ui-sref="forums.list">Forums List</a> &gt;
    <ul style="display: inline-block;" class="list-inline pills" ng-repeat="item in data.forums">
      <li ng-if="!$last"><a ui-sref="forums.topics.list({forum_id: item.id})">{{item.name}}</a> &gt;</li>
      <li ng-if="$last"><a ui-sref="forums.topics.list({forum_id: item.id})"><b>{{item.name}}</b></a></li>
    </ul>
    <div class="row">
        <div class="col-md-12 text-right">
            <span class="badge"><a class=" btn btn-default" ui-sref="forums.topics.list({forum_id: $stateParams.forum_id})"><i class="fa fa-arrow-left"/> Back </a></span>
            <span class="badge"><a ng-show="currentUser.role.title =='admin' || currentUser.email == data.topic.email" ng-confirm-click="Are you sure?" ng-click="delete(data.topic)" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete topic"><span class="glyphicon glyphicon-remove"></span> Delete Topic </a></span>
            <span class="badge"><a class=" btn btn-default" ui-sref="forums.topics.new({forum_id: $stateParams.forum_id})">New Topic</a></span>
        </div>
    </div>

    <div>
       <h2>{{data.topic.name}} <i ng-if="data.topic.locked" class="fa fa-unlock-alt"></i></h2>
    </div>
    <div class="panel panel-default" ng-repeat="item in data.posts">
        <div class="panel-heading">{{item.name}}</div>
        <div class="panel-body" ng-bind-html="item.content | markdown"></div>
        <div class="btn-group" ng-repeat="file in item.assets | orderBy:'position' ">
            <a class="btn btn-default btn-sm" ng-href="/uploads/images/{{file.attachment_file_path}}" alt="{{file.attachment_file_name}}" target="attachment">
                <i class="fa fa-file"/> {{file.attachment_file_name}} ({{file.attachment_file_size}})
            </a>
        </div>
        <div class="well well-sm text-right">
            <a class="btn btn-default btn-xs" ng-click="editPost(item)">Edit</a>
            <a ng-hide="item.root" class="btn btn-default btn-xs" ng-confirm-click="Are you sure?" ng-click="deletePost(item)">Delete</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Reply </h2>
            <form class="myform" name="form" ng-submit="replyPost(myform)"  novalidate>
            <div class="form-group">
                <label>Subject *:</label>
                <input  class="form-control"  ng-model="newPost.name" required>
            </div>
            <div class="form-group">
                <label>Message:</label>
                <textarea  class="form-control" rows="8" ng-model="newPost.content" markdown-editor></textarea>
            </div>
            <div class="form-group has-error" ng-show="error">
                <p class="help-block">{{error}}</p>
            </div>
            <div class="form-group has-success" ng-show="success">
                <p class="help-block">{{message}}</p>
            </div>

                <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
            <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
            </form>
        </div>
    </div>
</div>
