<div class="container">
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <h2>Topics List
            </h2>
        </div>
        <div class="col-xs-4 col-md-4 text-center">
        </div>
    </div>
    <div class="panel-body" >
        <form name="form" class="" role="form" ng-submit="searchTopics(form)">
            <div class="row">
               <div class="form-group col-xs-2 col-md-2">
                    <label>Topic:</label><br/>
                    <input class="form-control" ng-model="conditions.name" placeholder="Name">
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label>Written by:</label><br/>
                    <input class="form-control" ng-model="conditions.email" placeholder="Email">
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label><br/>
                        <input type="checkbox" ng-model="conditions.locked"> Only Show Locked
                    </label>
                </div>
                <div class="col-xs-2 col-md-2">
                    <br>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-12 text-left">
                <span class="badge"><a class="btn btn-default btn-xs" ui-sref="forums.list">Forums List</a></span> &gt;
                <ul style="display: inline-block;" class="list-inline pills" ng-repeat="item in data.forums">
                    <li ng-if="!$last"><a ui-sref="forums.topics.list({forum_id: item.id})">{{item.name}}</a> &gt;</li>
                    <li class="dropdown" ng-if="$last">
                        <a  id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><b>{{item.name}}</b><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                          <li ng-repeat="child in data.child_forums"><a ui-sref="forums.topics.list({forum_id: child.id})">+{{"--".repeat(child.level)}} {{child.name}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <span class="badge" style="color:#666666;">
                  <a ng-hide="data.forums[data.forums.length-1].locked && !Auth.authorize('editor')" class=" btn btn-default btn-xs" ui-sref="forums.topics.new({forum_id: $stateParams.forum_id})"
                     data-toggle="popover" data-trigger="hover" data-placement="bottom" title="Login Required"><i class="fa fa-edit"></i> New Topic</a></span>
            </div>
        </div>
        <div>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Topic</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data.sticky_topics" >
                    <td class="info">{{item.id}}</td>
                    <td><small>Sticky:</small> <a ui-sref="forums.topics.view({forum_id: item.forum_id, id: item.id})">{{item.name}}</a>
                      <i ng-if="item.locked" class="fa fa-unlock-alt"></i><br/>
                      <small><span class="badge">Written by {{item.email}}</span> <span class="badge">{{item.created_at}}</span></small></td>
                    <td><span class="badge">Views: {{item.views}}</span>, <span class="badge">Replies: {{item.replies}}</span><br/>
                      <small>Last: {{item.last_post}}</small></td>
                    <td class="text-center">
                        <a ng-show="Auth.authorize('editor')"  ng-confirm-click="Are you sure?" ng-click="unsticky(item)" class="btn btn-xs btn-primary" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Unsticky"><span class="glyphicon glyphicon-flag"></span></a>
                        <a ng-show="Auth.authorize('editor') || currentUser.email == item.email" ng-confirm-click="Are you sure?" ng-click="delete(item)" class="btn btn-xs btn-default" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Delete topic"><span class="glyphicon glyphicon-remove"></span></a>
                        <a ng-show="Auth.authorize('editor') || currentUser.email == item.email" ng-confirm-click="Are you sure?" ng-click="locked(item, !item.locked)" class="btn btn-xs btn-default" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Toggle Locked"><span class="fa fa-unlock-alt"></span></a>
                    </td>
                </tr>
                <tr ng-repeat="item in data.topics">
                    <td>{{item.id}}</td>
                    <td><a ui-sref="forums.topics.view({forum_id: item.forum_id, id: item.id})">{{item.name}}</a>
                      <i ng-if="item.locked" class="fa fa-unlock-alt"></i><br/>
                      <small><span class="btn btn-default btn-xs">Written by {{item.email}}</span> <span class="btn btn-default btn-xs">{{item.created_at}}</span></small></td>
                    <td><span class="badge">Views: {{item.views}}</span> <span class="badge">Replies: {{item.replies}}</span><br/>
                      <small>Last: {{item.last_post}}</small></td>
                    <td class="text-center">
                        <a ng-show="Auth.authorize('editor')"  ng-confirm-click="Are you sure?" ng-click="sticky(item)" class="btn btn-xs btn-default" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Sticky"><span class="glyphicon glyphicon-flag"></span></a>
                        <a ng-show="Auth.authorize('editor') || currentUser.email == item.email" ng-confirm-click="Are you sure?" ng-click="delete(item)" class="btn btn-xs btn-default" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Delete topic"><span class="glyphicon glyphicon-remove"></span></a>
                        <a ng-show="Auth.authorize('editor') || currentUser.email == item.email" ng-confirm-click="Are you sure?" ng-click="locked(item, !item.locked)" class="btn btn-xs btn-default" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Toggle Locked"><span class="fa fa-unlock-alt"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-xs-2 col-md-2">Page:{{page}}/{{numPages}} ({{totalItems}})</div>
            <div class="col-xs-8  col-md-8">
                <pagination total-items="totalItems" ng-model="page" max-size="3" items-per-page="10"
                            num-pages="numPages" ng-change="pageChanged()"></pagination>
            </div>
            <div class="col-xs-2 col-md-2">
                <a ui-sref="forums.topics.list({forum_id: $stateParams.forum_id})" ui-sref-opts="{reload: true}" class="btn btn-primary" >
                    <span class="glyphicon glyphicon-refresh"></span> Refresh</a>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover();
  })
</script>
