<div class="row">
    <div class="col-md-10 col-md-offset-1 text-right">
        <span class="badge"><a class=" btn btn-default" ui-sref="forums.topics.list({forum_id: $stateParams.forum_id})"><i class="fa fa-arrow-left"></i> Back </a></span>
    </div>
</div>

<div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
        <h2>New Topic</h2>
        <form class="myform" name="form" ng-submit="uploadTopic(myform)"  novalidate>
        <div class="form-group">
            <label>Subject *:</label>
            <input  class="form-control"  ng-model="newTopic.name" required>
        </div>
        <div class="form-group">
            <label>Message:</label>
            <textarea  class="form-control" rows="15" ng-model="newTopic.content" markdown-editor></textarea>
        </div>

        <div class="form-group">
          <label><i class="fa fa-unlock-alt"></i> Locked:</label>
          <input type="checkbox" ng-model="newTopic.locked"> {{newTopic.locked}}
        </div>

        <div class="form-group">
          <label><i class="fa fa-flag"></i> Sticky:</label>
          <input type="checkbox" ng-model="newTopic.sticky"> {{newTopic.sticky}}
        </div>
        <div ng-include="" src="'views/partials/include/input_file.html'"></div>

        <div class="form-group has-info" ng-show="progress">
            <p class="help-block">Progress... {{ progress }}%</p>
        </div>
        <div class="form-group has-error" ng-show="error">
          <p class="help-block">{{ error }}</p>
        </div>
        <div class="form-group has-success" ng-show="success">
            <p class="help-block">{{ message }}</p>
        </div>

            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>
