<div class="container-fluid">

    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active: $state.includes('admin.orders')}"><a ui-sref="admin.orders.list"><span class="glyphicon glyphicon-shopping-cart"></span> Orders</a></li>
        <li ng-class="{active: $state.includes('admin.products')}"><a ui-sref="admin.products.list"><span class="glyphicon glyphicon-th-large"></span> Products</a></li>
        <li ng-class="{active: $state.includes('admin.forums')}"><a ui-sref="admin.forums.list"><i class="fa fa-comment"></i> Forums</a></li>
        <li ng-class="{active: $state.includes('admin.users')}"><a ui-sref="admin.users.list"><span class="glyphicon glyphicon-user"></span> Users</a></li>
    </ul>
    <div class="row">
       <div class="col-md-12" ui-view></div>
    </div>
</div>
