<div class="panel-body">
    <h2>Edit Forum</h2>
    <form class="myform" name="form" ng-submit="updateForum(myform)"  novalidate>
        <div class="form-group">
            <label>Name *:</label>
            <input  class="form-control"  ng-model="forum.name" required>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <textarea  class="form-control" rows="5" ng-model="forum.description"></textarea>
        </div>
        <div class="form-group">
            <label> <i class="fa fa-thumb-tack"></i> Locked: (Topic Read Only)
            <input type="checkbox" class="form-control"  ng-model="forum.locked">
            </label>
        </div>

        <div class="form-group has-error" ng-show="error">
            <p class="help-block">{{ error }}</p>
        </div>
        <div class="form-group has-success" ng-show="success">
            <p class="help-block">{{ message }}</p>
        </div>

        <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Save</button>
        <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
    </form>
</div>
