<div class="container">
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <h2>Forums List <a ng-confirm-click="Are you sure?" ng-click="rebuildTree()"  class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Rebuild Tree"><span class="glyphicon glyphicon-list"></span> Rebuild Tree </a>
            </h2>
        </div>
        <div class="col-xs-4 col-md-4 text-center">
        </div>
    </div>
    <div class="panel-body" >
        <form name="form" class="" role="form" ng-submit="searchForums(form)">
            <div class="row">
                <div class="form-group col-xs-2 col-md-2">
                    <label>Name:</label><br/>
                    <input class="form-control" ng-model="conditions.name" placeholder="Name">
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label>Description:</label><br/>
                    <input class="form-control" ng-model="conditions.description" placeholder="Description">
                </div>
                <div class="form-group col-xs-2 col-md-2">
                    <label><br/>
                        <input type="checkbox" ng-model="conditions.locked"> Only Show Locked
                    </label>
                </div>
                <div class="col-xs-2 col-md-2">
                    <br>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search form-control-feedback"></span> Search</button>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-10">

                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Locked</th>
                        <th>Topics</th>
                        <th>Posts</th>
                        <th>Updated at</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data.forums">
                        <td>{{item.id}}</td>
                        <td><a ui-sref="forums.topics.list({forum_id: item.id})" >{{"&nbsp;&nbsp;&nbsp;".repeat(item.level)}}{{item.name}}</a></td>
                        <td>{{item.description}}</td>
                        <td>{{item.locked}}</td>
                        <td>{{item.topic_count}}</td>
                        <td>{{item.posts}}</td>
                        <td>{{item.updated_at}}</td>
                        <td class="text-center">
                            <a ui-sref="admin.forums.edit({id: item.id})" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <a ui-sref="admin.forums.new({id: item.id})" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="New"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-hide="item.lft == 1 || item.parent_id == null" ng-confirm-click="Are you sure?" ng-click="deleteForum(item)"  class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-2 col-md-2">Page:{{page}}/{{numPages}} ({{totalItems}})</div>
                    <div class="col-xs-8  col-md-8">
                        <pagination total-items="totalItems" ng-model="page" max-size="3" items-per-page="10"
                                    num-pages="numPages" ng-change="pageChanged()"></pagination>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a ui-sref="admin.forums.list" ui-sref-opts="{reload: true}" class="btn btn-primary" >
                            <span class="glyphicon glyphicon-refresh"></span> Refresh</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
