<nav class="navbar navbar-default  navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div ng-class="{active:$state.includes('admin.forums.list')}" class="navbar-header">
            <a class="navbar-brand" ui-sref="admin.forums.list"> Forums </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active:$state.includes('admin.forums.topics.list')}"><a ui-sref="admin.forums.topics.list">Topics</a></li>
                <li ng-class="{active:$state.includes('admin.forums.posts.list')}"><a ui-sref="admin.forums.posts.list">Posts</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-md-push-10">
            <div class="list-group" >
                <div class="list-group-item">
                    <strong>Nested Menu</strong>
                </div>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.list" active-nav class="list-group-item">List of Users</a>
                <a ui-sref="admin.users.edit" active-nav class="list-group-item">List of Users</a>
            </div>
        </div>
        <div class="col-md-7 col-md-pull-2" ui-view></div>
    </div>
</div>